/* General reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

.input-section,
.search-section,
.totals-section {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

label {
    flex: 1 0 100%;
}

input,
button,
span {
    flex: 1 1 45%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #462b5b;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #09519e;
}

.total-field {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #007bff;
    color: white;
}

@media (max-width: 600px) {
    .input-section,
    .search-section,
    .totals-section {
        flex-direction: column;
    }

    input,
    button,
    span {
        flex: 1 1 100%;
    }
}
#companyLogo {
    max-width: 100px; /* تحديد العرض الأقصى */
    height: auto; /* الحفاظ على نسبة العرض إلى الارتفاع */
    display: block;
    margin: 0 auto; /* لجعل الصورة في منتصف الصفحة */
}

  /* التأثير الحركي للبونس */
@keyframes bounceIn {
    0% {
      transform: scale(0.3);
      opacity: 0;
    }
    50% {
      transform: scale(1.1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  #heading {
    font-size: 12px;
    font-weight: bold;
    animation: bounceIn 1s ease-out;

 
    color: #382587; /* اللون الأزرق */
    position: absolute;
    top: 4%; /* وسط الصفحة عمودياً */
    left: 10%; /* وسط الصفحة أفقياً */
    transform: translate(-50%, -50%); /* نقل النص ليظهر تماماً في المنتصف */
  }
  